body {
	background-image: url("Turkey.jpg");
}

p.title {
	font-family: cursive;
	font-style: italic;
	text-shadow: 0px 1px 2px #222;
  	color: #fff;
  	font-size: 30px;
  	position: relative;
  	top: 20px;
  	left: 15px;
}

.container {
	position: relative;
	top: 50px;
}

a.goatrip {
	color: white;
}

p.success {
	color: green;
	position: relative;
	left: 80px;
}

p.warning {
	color: red;
	position: relative;
	left: 80px;
}